<div class="mobile-nav">
  <nav>
    <ul>
      <li>
        <a routerLink="/tasks" routerLinkActive="active">
          <i-lucide name="check"></i-lucide>
          <span>Tasks</span>
        </a>
      </li>
      <li>
        <a routerLink="/pomodoro" routerLinkActive="active">
          <i-lucide name="timer"></i-lucide>
          <span>Pomodoro</span>
        </a>
      </li>
      <li>
        <a routerLink="/habits" routerLinkActive="active">
          <i-lucide name="repeat-2"></i-lucide>
          <span>Habits</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <i-lucide name="settings"></i-lucide>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
