<div class="mobile-nav">
  <nav>
    <ul>
      <li title="Tasks">
        <a routerLink="/tasks" routerLinkActive="active">
          <i-lucide name="check"></i-lucide>
       </a>
      </li>
      <li title="Pomodoro">
        <a routerLink="/pomodoro" routerLinkActive="active">
          <i-lucide name="timer"></i-lucide>
        </a>
      </li>
      <li title="Habits">
        <a routerLink="/habits" routerLinkActive="active">
          <i-lucide name="repeat-2"></i-lucide>
        </a>
      </li>
      <li title="Settings">
        <a routerLink="/settings" routerLinkActive="active">
          <i-lucide name="settings"></i-lucide>
        </a>
      </li>
    </ul>
  </nav>
</div>
