<div class="sidebar" [class.collapsed]="layoutService.sidebarCollapsed()">
  <div class="sidebar-header">
    <div class="logo">
      <a routerLink="/">
        <h1 *ngIf="!layoutService.sidebarCollapsed()">Lifenote</h1>
      </a>
    </div>
    <button class="collapse-button" (click)="layoutService.toggleSidebarCollapsed()">
      <lucide-icon name="panel-left-close" *ngIf="!layoutService.sidebarCollapsed()"></lucide-icon>
      <lucide-icon name="panel-right-close" *ngIf="layoutService.sidebarCollapsed()"></lucide-icon>
    </button>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/tasks" routerLinkActive="active">
          <i-lucide name="check"></i-lucide>
          <span class="mb-0.5" *ngIf="!(layoutService.sidebarCollapsed())">Tasks</span>
        </a>
      </li>
      <li>
        <a routerLink="/pomodoro" routerLinkActive="active">
          <i-lucide name="timer"></i-lucide>
          <span class="mb-0.5" *ngIf="!(layoutService.sidebarCollapsed())">Pomodoro</span>
        </a>
      </li>
      <li>
        <a routerLink="/habits" routerLinkActive="active">
          <i-lucide name="repeat-2"></i-lucide>
          <span class="mb-0.5" *ngIf="!(layoutService.sidebarCollapsed())">Habits</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <i-lucide name="settings"></i-lucide>
          <span class="mb-0.5" *ngIf="!(layoutService.sidebarCollapsed())">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="collapse-button-container">
    <button (click)="layoutService.toggleSidebarCollapsed()">
      <i [class]="(layoutService.sidebarCollapsed()) ? 'icon-arrow-right' : 'icon-arrow-left'"></i>
    </button>
  </div>
</div>
