<div class="sidebar bg-card text-card-foreground border-border" [class.collapsed]="layoutService.sidebarCollapsed()">
  <div class="sidebar-header" [ngClass]="{ '!justify-center': layoutService.sidebarCollapsed() }">
    <div class="logo">
      <a routerLink="/">
        <h1 *ngIf="!layoutService.sidebarCollapsed()">Lifenote</h1>
      </a>
    </div>
    <button class="collapse-button text-foreground" (click)="layoutService.toggleSidebarCollapsed()">
      <lucide-icon name="panel-left-close" *ngIf="!layoutService.sidebarCollapsed()"></lucide-icon>
      <lucide-icon name="panel-right-close" *ngIf="layoutService.sidebarCollapsed()"></lucide-icon>
    </button>
  </div>
  <nav class="flex-grow">
    <ul class="list-none p-0 m-0">
      <li>
        <a routerLink="/notes" routerLinkActive="active" class="nav-link">
          <lucide-icon name="notebook" size="20"></lucide-icon>
          <span class="nav-text" *ngIf="!layoutService.sidebarCollapsed()">Notes</span>
        </a>
      </li>
      <li>
        <a routerLink="/pomodoro" routerLinkActive="active" class="nav-link">
          <lucide-icon name="timer" size="20"></lucide-icon>
          <span class="nav-text" *ngIf="!layoutService.sidebarCollapsed()">Pomodoro</span>
        </a>
      </li>
      <li>
        <a routerLink="/habits" routerLinkActive="active" class="nav-link">
          <lucide-icon name="repeat-2" size="20"></lucide-icon>
          <span class="nav-text" *ngIf="!layoutService.sidebarCollapsed()">Habits</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active" class="nav-link">
          <lucide-icon name="settings" size="20"></lucide-icon>
          <span class="nav-text" *ngIf="!layoutService.sidebarCollapsed()">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
</div>